<div class="container">
  <h1 class="text-center page-header">Registration like a teacher</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <!--<form action="">
        <div class="form-group">
          <label for="formName">Name</label>
          <input type="text" class="form-control" id="formName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="formSurname">Surname</label>
          <input type="text" class="form-control" id="formSurname" placeholder="Surname">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="formPass1">Password</label>
          <input type="password" class="form-control" id="formPass1" placeholder="Type your awesome and safe password">
        </div>
        <div class="form-group">
          <label for="formPass2">Password again</label>
          <input type="password" class="form-control" id="formPass2" placeholder="Do it again, yes you can do it!! Matherfucker">
        </div>
        <button class="btn btn-primary">Registration</button>
        <div  class="text-center">
          <a href="" [routerLink]="['/login']">
            I have account
          </a>
        </div>
      </form>-->
      <registration-form [role]="role"></registration-form>
    </div>
  </div>
</div>
