<div class="nav-user">
  <div class="user-avatar">
    <img src="{{userAvatar}}" alt="" class="img-circle">
  </div>
  <div class="user-cridentials">
    <p class="cridentiasl-name">
      {{user.name}}
    </p>
    <p class="cridentiasl-subname">
      {{user.surname}}
    </p>
  </div>
</div>
