.nav-user .user-avatar img{
  width: 55px;
  height: 55px;
}
.nav-user .user-avatar{
  user-select: none;
}
.nav-user {
  margin-top: 45px;
  display: flex;
  align-items: center;
}
.nav-user p {
  margin-bottom: 0;
}
.nav-user .user-cridentials{
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;
}
.nav-user .user-cridentials p {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-user .user-cridentials p:first-letter{
  text-transform: uppercase;
}
