.notification-component{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.notification-component .container{
  position: relative;
}
.notification-component .close{
  position: absolute;
  right: 15px;
  top: 5px;
}
.notification-component p{
  margin-bottom: 0;
}
