<div class="notification-component bg-danger" *ngIf="!verified" [class.hidden]="isHide">
  <div class="container">
    <p class="notification">
      Your profile is disable. <br>
      Fill information about yourself in profile settings.
    </p>
    <button (click)="hideNotification()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
</div>
