<div class="container">

  <div class="row">
    <div class="col-sm-3">
        <app-navbar-left></app-navbar-left>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <form novalidate [formGroup]="profileForm" (submit)="saveGlobal()">
            <h3 class="page-header">
              Global information
            </h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Your name</label>
                  <input type="text" class="form-control" id="name" placeholder="YourName" readonly value="{{userInfo.name}}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="surname">Your last name</label>
                  <input type="text" class="form-control" id="surname" placeholder="Your last name" readonly value="{{userInfo.surname}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <select formControlName="city" id="city" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>

            <div class="form-group">
              <label for="about">About yourself</label>
              <textarea class="form-control" id="about" cols="30" rows="4" formControlName="aboutSelf" placeholder="Type information about your self"></textarea>
            </div>
            <button type="submit" class="btn btn-success">
              Save global information
            </button>
          </form>
          <form novalidate [formGroup]="skillsForm" (submit)="saveSkills()">
            <h3 class="page-header">
              Skills information
            </h3>
            <div class="form-group">
              <label for="expirience">Expirience</label>
              <select formControlName="expirience" id="expirience" class="form-control">
                <option value=""  selected>Choose your expirience value</option>
                <option value="<1"> 1 year and less</option>
                <option value="2-4"> 2 - 4 years </option>
                <option value="5-10">5 - 10 years</option>
                <option value="10>">10 years and more</option>
              </select>
            </div>
            <div class="form-group">
              <p class="labels">
                levels (max 10 selected value)
              </p>
              <!--[disabled]="disabled"-->
              <!--(data)="refreshValue($event)"-->
              <ng-select  [multiple]="true"
                          [active]="levelsSelected"
                          [items]="levels"
                          (selected)="selected($event)"
                          (removed)="removed($event)"
                          placeholder="No levels selected">
              </ng-select>
              <!--<div  formArrayName="categories">-->
                <!--<div class="checkbox"  *ngFor="let category of categories; let i = index">-->
                  <!--<label formGroupName="{{i}}">-->
                    <!--<input type="checkbox"  formControlName="{{category.name}}">-->
                    <!--<span>{{category.name}}</span>-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
              <!--http://stackoverflow.com/questions/40973370/angular2-dynamic-formarray-for-checkboxes-->
              <!--http://plnkr.co/edit/OTiqwr1oCb8uEThQyDHx?p=preview-->
            </div>
            <!--{{ skillsForm.value | json }}-->
            <button type="submit" class="btn btn-success">
              Save skills information
            </button>
          </form>
          <form novalidate [formGroup]="lessonsForm" (submit)="saveLessons()">
            <h3 class="page-header">
              Lessons information
            </h3>
            <div class="form-group">
              <label for="venue">Venue</label>
              <select formControlName="venue" id="venue" class="form-control">
                <option value="" selected>Choose venue</option>
                <option value="In your's home">In your's home</option>
                <option value="In the teacher's home">In the teacher's home</option>
                <option value="By agreement">By agreement</option>
              </select>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"  formControlName="skypeVenue">
                  <span>Skype lessons</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="rate">Hourly rate</label>
              <input formControlName="hourlyRate" id="rate" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-success">
              Save lessons information
            </button>

          </form>

          <form novalidate [formGroup]="educationForm" (submit)="saveEducation()">
            <h3 class="page-header">
              Education information
            </h3>
            <div class="form-group">
              <label for="education">Education</label>
              <textarea class="form-control" id="education" cols="30" rows="4" formControlName="educationInformation" placeholder="Type information about your education"></textarea>
            </div>
            <div class="form-group">
              <label for="degree">Degree</label>
              <input type="text" formControlName="degree" id="degree" class="form-control" placeholder="Your deegre level">
              <!--<select formControlName="degree" id="degree" class="form-control">-->
                <!--<option value="" selected>Choose degree</option>-->
                <!--<option value="1">In your's home</option>-->
                <!--<option value="2">In the teacher's home</option>-->
                <!--<option value="3">By agreement</option>-->
              <!--</select>-->
              <!--<textarea class="form-control" id="education" cols="30" rows="4" formControlName="education" placeholder="Type information about your education"></textarea>-->
            </div>


            <button type="submit" class="btn btn-success">
              Save education information
            </button>
          </form>
          <!--<div class="form-group">-->
          <!--<p class="labels">-->
          <!--You social link-->
          <!--</p>-->

          <!--<div class="checkbox">-->
          <!--<label>-->
          <!--<input type="checkbox" value="">-->
          <!--Option one is this and that&mdash;be sure to include why it's great-->
          <!--</label>-->
          <!--</div>-->

          <!--</div>-->

        </div>
        <div class="col-sm-6 col-md-4">
          <app-avatar-form></app-avatar-form>
        </div>
      </div>
    </div>
  </div>
</div>

