<!--<app-notifications-verify></app-notifications-verify>-->
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <app-navbar-left></app-navbar-left>
    </div>
    <div class="col-sm-9">
      <app-dashboard-content></app-dashboard-content>
    </div>
  </div>

</div>
