<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <app-navbar-left></app-navbar-left>
    </div>
    <div class="col-sm-9 profile-container">
      <app-profile-main [profile]="user"></app-profile-main>
      <app-profile-comments></app-profile-comments>
    </div>
  </div>

</div>
