<div class="container">
  <h1 class="text-center page-header">
    Login page
  </h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="bg-danger notification" *ngIf="errorCode === 404">
        User not found
      </p>
      <p class="bg-danger notification" *ngIf="errorCode === 400">
        Incorrect password
      </p>
      <form novalidate [formGroup]="form" (submit)="submitForm()">
        <div class="form-group" [class.has-error]="form.get('email').value != 0 && form.get('email').errors.validation">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="formPass1">Password</label>
          <input type="password" class="form-control" id="formPass1" placeholder="Type your awesome and safe password" formControlName="password" >
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.get('password').valid ||
                                                                            form.get('email').errors.validation">Login</button>
        <div  class="text-center">
          Registration like a
          <a href="" class="login-link" [routerLink]="['/registration', 'teacher']">
            teacher
          </a>
          or
          <a href="" class="login-link" [routerLink]="['/registration', 'user']">
            user
          </a>
        </div>
      </form>
      <!--<div class="btn btn-default btn-block" (click)="logout()">logout</div>-->
      <!--<div class="btn btn-default btn-block" (click)="sess()">session</div>-->
      <!--<div class="btn btn-default btn-block" (click)="cookie()">cook</div>-->
    </div>
  </div>
</div>
