<app-navbar-user></app-navbar-user>

<ul class="nav nav-pills nav-stacked" >
  <li role="presentation" routerLinkActive="active">
    <a href="#" [routerLink]="['/dashboard']">
      <i class="glyphicon glyphicon-list-alt"></i>
      Dasboard
    </a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a href="#" [routerLink]="['/settings']">
      <i class="glyphicon glyphicon-cog"></i>
      Settings
    </a>
  </li>
  <li role="presentation">
    <a (click)="logout()">
      <i class="glyphicon glyphicon-log-out"></i>
      Logout
    </a>
  </li>
</ul>
