.form-inline .form-group{
  width: 49%;
}
.form-inline .form-control{
  margin-bottom: 10px;
  width: 100%;
}
.form-group label{
  display: block;
  margin-bottom: -5px;
}

.labels{
  font-size:10px;
  padding: 3px 4px;
}

.btn{
  margin: 15px 0 0;
}
