<form novalidate class="text-center" (submit)="submitFile()">
  <h3 class="page-header">
    Profile avatar
  </h3>
  <div class="form-group form-group-file">
    <label>
      <img src="{{renderedImage.image}}" alt="" width="200" height="200">
      <input type="file" (change)="select($event)"  accept="image/gif, image/jpeg, image/png">
      <span class="form-control form-control-file" >{{renderedImage.name}}</span>
    </label>
  </div>
  <button type="submit" class="btn btn-success">
    Save avatar
  </button>
</form>
