<div class="registration">
  <div class="container-fluid">
    <h1 class="page-header text-center">
      <span>
        Registration page!
      </span>
    </h1>
    <div class="row">
      <h3 class="h3 text-center">
        <span>
          Who are you?
        </span>
      </h3>
      <div class="col-sm-6 registration__block registration__block-user" >
        <p class="text-center">
          Registration like a <br> <a href=""  [routerLink]="['/registration','user']"><span>user</span></a>
        </p>
      </div>
      <div class="col-sm-6 registration__block registration__block-teacher">
        <p class="text-center">
          Registration like a <br> <a href=""  [routerLink]="['/registration', 'teacher']"><span>teacher</span></a>
        </p>
      </div>
    </div>
  </div>
</div>

