.registration .page-header,
.registration .h3{
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
}

.registration .h3{
  top: 89px;
}

.registration .page-header{
  top: 0;
  border-bottom: 0;
}

.registration .page-header span,
.registration .h3 span{
  display: inline-block;
  padding: 15px 11px;
  background: #000;
  color: #fff;
}

.registration,
.registration .container-fluid{
  height: 100%;
  position: relative;
}

.registration .container-fluid .row{
  position: relative;
  height: 100%;
}

.registration .registration__block{
  display: flex;
  position: relative;
  height: 100%;
}
.registration .registration__block.registration__block-teacher{
  background: url('assets/images/teacher.jpg') no-repeat left top;
  -webkit-background-size: cover;
  background-size: cover;
}
.registration .registration__block.registration__block-user{
  background: url('assets/images/user.jpg') no-repeat left top;
  -webkit-background-size: cover;
  background-size: cover;
}
.registration .registration__block:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: .85;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.registration .registration__block:hover:after{
  opacity: .6;
}

.registration .registration__block p {
  font-size: 18px;
  margin: auto;
  padding-top: 110px;
  position: relative;
  z-index: 1;
}

.registration .registration__block p a{
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  padding: 7px 10px 5px;
  text-transform: uppercase;
  color: #fff;
  transition: all 300ms ease-in-out;
  border:1px solid #000;
}

.registration .registration__block p a span{
  position: relative;
  z-index: 1;
}
.registration .registration__block p a:after,
.registration .registration__block p a:before{
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  transition: all 300ms ease-in-out;
}

.registration .registration__block p a:after{
  background: #000;
  right: 0%;
}

.registration .registration__block p a:before{
  left: -100%;
  background: #fff;
}

.registration .registration__block p a:hover{
  color: #000;
  border:1px solid #000;
}

.registration .registration__block p a:hover:before{
  left: 0%;
}

.registration .registration__block p a:hover:after{
  right: -100%;
}

.registration .registration__block p a:hover,
.registration .registration__block p a:active{
  text-decoration: none;
}
