<!--<div class="wrapp">-->
  <!--<div class="wrapp-content clearfix">-->
    <app-notifications-verify *ngIf="isLogged"></app-notifications-verify>
    <router-outlet></router-outlet>
  <!--</div>-->
<!--</div>-->
<!--<footer>-->
  <!--<hr>-->
  <!--<div class="container">-->
    <!--<p class="text-center">-->
      <!--footer (c)-->
    <!--</p>-->
  <!--</div>-->
<!--</footer>-->
