<div class="profile-main" *ngIf="profile">
  <div class="main-avatar">
    <img src="{{profile.avatar.name}}" alt="" width="300px" height="300px">
  </div>
  <div class="main-content">

  </div>
</div>
