.profile-main{
  /*padding-left: 320px;*/
  /*position: relative;*/
  display: flex;
}

.profile-main .main-avatar{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  padding-right: 30px;
}
.profile-main .main-content{
  background: #000;
}
