<div class="dashboard-user">
  <div class="user-avatar">
    <img src="{{user.avatar.name}}" class="img-circle" width="150px" height="150px">
  </div>
  <div class="user-content">
    <h4>
      <a href="" [routerLink]="['/user', user._id]">
        {{user.name}} <b>{{user.surname}}</b>
      </a>
    </h4>
    <span>
      Expirience: {{user.expirience}} y. |
    </span>
    <span>
      Hourly rate: {{user.hourlyRate}} |
    </span>
    <span>
      Venue: {{user.venue}},
      skype: {{user.skypeVenue}}
    </span>
    <hr>
    <p>
      <b>Levels:</b> <span *ngFor="let level of user.levels">{{level}} </span>
    </p>
    <p>
      <b>
        About:
      </b>
      {{user.aboutSelf}}
    </p>
  </div>
</div>
