.dashboard-user{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 170px;
  position: relative;
}
.dashboard-user .user-avatar{
  position: absolute;
  top: 0;
  left: 0;
}
.dashboard-user p {
  word-break: break-all;
}
