/* You can add global styles to this file, and also import other style files */
.notification{
  padding: 10px 15px;
}

html,
body{
  height: 100%;
  min-height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}


app-registration{
  height: 100%;
  display: block;
}

.page-header{
  font-weight: 400;
}


.btn.btn-primary{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border: 1px solid #2c3e50;
  background: #2c3e50;
  font-weight: 300;
  padding: 8px 14px;
}

.btn{
  transition: all 300ms ease-in-out;
}

.btn.btn-primary:hover{
  border: 1px solid #19232d;
  background: #19232d;
}
.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.form-group{
  margin-bottom: 10px;
}
.has-error .form-control{
  border-bottom:1px solid #c0392b;
  box-shadow: none;
}
.has-error .form-control:focus{
  box-shadow: none;
}


.form-group label{
  display: inline-block;
  background: #fff;
  font-size: 10px;
  padding: 3px 4px;
  font-weight: 400;
  display: none;
}

.form-group .form-group-file{

}

.form-control{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
}
.form-control[readonly]{
  cursor: not-allowed;
  background: none;
  opacity: .7;
}
.form-control.form-control-file{
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}


.form-control.form-control-file:hover{
  text-decoration: none;
  border-bottom: 1px solid #66afe9;
}
.form-group.form-group-file input{
  display: none;
}

.form-control:focus{
  outline: none;
  box-shadow: none;
}
textarea{
  resize: none;
}

.checkbox input{
  display: none;
}

.checkbox label{
  font-size: 13px;
  user-select: none;
}

.checkbox span{
  padding-left: 24px;
  display: block;
  position: relative;
}

.checkbox span:after,
.checkbox span:before{
  transition: all 300ms ease-in-out;
}

.checkbox span:after{
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
}

.checkbox span:before{
  display: block;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #66afe9;
  left: 4px;
  top: 5px;
  z-index: 1;
  opacity: 0;
}

.checkbox input:checked + span:after{
  border: 1px solid #66afe9;
}

.checkbox input:checked + span:before{
  opacity: 1;
}

.dashboard-search{
  padding-top: 40px;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
