<div class="container">
  <h1 class="text-center page-header">Registration like a user</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <registration-form [role]="role"></registration-form>

      <p class="bg-success notification" *ngIf="errorStatus == 200">
        Thank you, registration successful. Now you can login in your <a href="" [routerLink]="['/login']">account</a>
      </p>
      <p class="bg-danger notification" *ngIf="errorStatus == 409">
        Email already exist
      </p>
    </div>
  </div>
</div>


<!--{{  form.get('passwords.password').valid| json  }}-->
<!--{{  form.get('email').errors | json  }}-->
<!--{{  form.get('surname').valid }}-->
<!--{{  form.get('name').valid }}-->
<!--{{  form.valid }}-->
<!--{{  form.value | json  }}-->

<!--{{ form.get('surname').valid && form.get('name').valid && form.get('email').errors.validation && form.get('passwords').errors.matches }}-->

<!--{{  form.get('surname').valid && form.get('name').valid &&-->
<!--(form.get('email').errors.validation && form.get('email').value.length != 0) &&-->
<!--(form.get('passwords').errors.matches  && form.get('passwords.repassword').value.length != 0) }}-->

