<form novalidate [formGroup]="form" (submit)="sendData()">
  <div class="form-group">
    <label for="formName">Name</label>
    <input type="text" class="form-control" id="formName" placeholder="Name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="formSurname">Surname</label>
    <input type="text" class="form-control" id="formSurname" placeholder="Surname" formControlName="surname">
  </div>
  <div class="form-group" [class.has-error]="form.get('email').errors.validation && form.get('email').value.length != 0
                                                   || errorStatus === 409">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
  </div>
  <div formGroupName="passwords">
    <div class="form-group" [class.has-error]="form.get('passwords').errors.matches  && form.get('passwords.repassword').value.length != 0 ||
                                                     !form.get('passwords.password').valid && form.get('passwords.password').value.length != 0">
      <label for="formPass1">Password</label>
      <input type="password" class="form-control" id="formPass1" placeholder="Type your awesome and safe password" formControlName="password">
    </div>
    <p class="bg-danger notification" *ngIf="!form.get('passwords.password').valid && form.get('passwords.password').value.length != 0">
      Passwrod must be 4 symbols minimum!!!
    </p>
    <div class="form-group" [class.has-error]="form.get('passwords').errors.matches && form.get('passwords.repassword').value.length != 0">
      <label for="formPass2">Password again</label>
      <input type="password"  class="form-control"  id="formPass2" placeholder="Do it again, yes you can do it!! Matherfucker" formControlName="repassword">
    </div>
  </div>
  <button class="btn btn-primary btn-block" [disabled]="!form.get('surname').valid || !form.get('name').valid ||
                                                        form.get('email').errors.validation || form.get('email').value.length == 0 ||
                                                        form.get('passwords').errors.matches || form.get('passwords.repassword').value.length == 0">Registration</button>
  <div  class="text-center">
    <a href="" [routerLink]="['/login']" class="login-link">
      I have account
    </a>
  </div>
</form>

<div class="bg-success notification" *ngIf="requestStatus.success == 200">
  Registration success, now u can <a href="" [routerLink]="['/login']">login</a> in your accaout 
</div>
<div class="bg-danger notification" *ngIf="requestStatus.error == 409">
  Account already exist!
</div>

<!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0ODY3MjgwMDAsImlhdCI6MTQ4NTUxODQwMCwiZGF0YSI6IjU4OGIzNjMyOTJmMTQ1M2EzZDA2ZTYyNiJ9.UcQ64Cu_H0pnErl3lvLQehaDjhcXIg53gLrJxOJxeoE -->