<div class="dashboard-search">
  <div class="form-group">
    <input type="seacrh" class="form-control" placeholder="Type name or surname teachers'">
  </div>

  <!--{{searchValue}}-->
  <app-dashboard-user [user]="user" *ngFor="let user of users"></app-dashboard-user>
  <div *ngIf="notificationHide" class="notification bg-danger">
    Results not found
  </div>
</div>
